body {
	margin: 10px;
	
	
	font-size: medium;
	font-family: Verdana;
}




.container {
	width: 900px;
	height: 200vh;
	margin: auto;
	padding: 10px;
	
	background-color: #f5f5f5;
	
	border-style: solid;
	border-width: 0px;
	border-color: teal;
}

.header {
	padding: 10px;
	background-color: #fff;
}

.search {
	font-size: medium;
	
	background-color: #a1dcff;
	
	
	border-style: solid;
	border-width: 0px;
	border-color: black;
	
	padding: 10px;
}

.categories {
	
	background-color: #d4efff;
	
	border-style: solid;
	border-width: 0px;
	border-color: green;
	
	padding: 10px;
}

.main-div {

	
	border-style: solid;
	border-width: 0px;
	border-color: blue;
	
	padding: 10px;
	
}

.footer {
	width: 880px;
	padding: 10px;
	background-color: #cccccc;
	
	border-style: solid;
	border-width: 0px;
	border-color: red;
}